
@{
    ViewBag.Title = "401 Error";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>401 Error</h2>
<b>Error 401: Unauthorized</b>
<br />
Your token has been expires. Please  

    @using (Html.BeginForm("TokenRefresh", "User", FormMethod.Post, new { id = "TokenRefresh" }))
    {
        <a href="javascript:document.getElementById('TokenRefresh').submit()">Refresh Token</a>
    }
