
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/loading.css" rel="stylesheet" type="text/css" />
    <title>TokenRefresh</title>
</head>
<body>
    <div>
        <div class="bar">
            <div class="circle"></div>
            <p>Loading</p>
        </div>
    </div>
</body>
</html>
